<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>Stocks</title> 
    </head> 
    <body> 
        <h1>Stocks:</h1>
        <ul>
            <li><h2>Apple: ${{aapl}}</h2></li>
            <li><h2>Amazon: ${{amzn}}</h2></li>
            <li><h2>Game Stop: ${{gme}}</h2></li>
            <li><h2>Microsoft: ${{msft}}</h2></li>
            <li><h2>Starbucks: ${{sbux}}</h2></li>
            <li><h2>AMC: ${{amc}}</h2></li>
            <li><h2>Boeing: ${{ba}}</h2></li>
            <li><h2>Party City: ${{prty}}</h2></li>
        </ul>
    </body> 
</html>
